<h1>New Pokemon</h1>

<form action="/pokemon/pokemons" method="post" >
  <label>Name:</label>
  <input name="pokemon[name]">

  <label>Type:</label>
  <input name="pokemon[poke_type]">

  <label>CP:</label>
  <input name="pokemon[cp]">

  <label>IMG URL:</label>
  <input name="pokemon[img_url]">

  <input type="submit" value="Create">
</form>
