<h2><a href="/pokemon">Pokemon Profile</h2>
<div class='pokemon'>
    <p>Name: <%= @pokemon.name %></p>
    <p>Type: <%= @pokemon.poke_type %></p>
    <p>CP: <%= @pokemon.cp %></p>
    <p> <%= @pokemon.img_url %></p>
</div>
